[Desktop Entry]
Name=Handheld Daemon
GenericName=Controller Settings
Comment="Configurator interface for Handheld Daemon."
Exec=hhd-ui
Terminal=false
Type=Application
Icon=hhd-ui
Categories=Gaming;
X-Steam-Library-Capsule=/usr/share/applications/hhd-ui/library_capsule.png
X-Steam-Library-Hero=/usr/share/applications/hhd-ui/library_hero.png
X-Steam-Library-Logo=/usr/share/applications/hhd-ui/library_logo.png
X-Steam-Library-StoreCapsule=/usr/share/applications/hhd-ui/main_capsule.png
X-Steam-Controller-Template=Desktop