[Desktop Entry]
Name=Handheld Daemon
GenericName=Controller Settings
Comment="Configurator interface for Handheld Daemon."
Exec=hhd-ui
Terminal=false
Type=Application
Icon=hhd-ui
Categories=Gaming;
X-Steam-Library-Capsule=/usr/share/applications/hhd-ui/capsule.png
X-Steam-Library-Hero=/usr/share/applications/hhd-ui/hero.png
X-Steam-Library-Logo=/usr/share/applications/hhd-ui/logo.png
X-Steam-Library-StoreCapsule=/usr/share/applications/hhd-ui/store-logo.png
X-Steam-Controller-Template=Desktop