[Desktop Entry]
Type=Application
Name=Handheld Daemon
Comment=Configurator interface for Handheld Daemon.
GenericName=Controller Settings
Keywords=hhd;
Exec=hhd-ui
Categories=System;
Icon=/usr/share/applications/hhd-ui.png

# What controller preset to use.
X-Steam-Controller-Template=Desktop
